.card {
	background-color: var(--color-blue);

	padding: 1.2rem;

	text-align: center;
}

.card img {
	width: 70px;
	height: 70px;
	object-fit: contain;
}

.date {
	margin-top: 0;
	margin-bottom: 0;

	font-weight: 600;
	font-size: 1rem;
	text-transform: capitalize;
}

.temperatures {
	margin-top: 2rem;
}

.temperatures :nth-child(2) {
	margin-left: 5px;
	color: var(--color-lightgray);
}
