.wrapper {
	min-height: 100vh;

	background-color: var(--color-blue);
	color: var(--color-lightgray);
}

.buttons {
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 10%;
}

.error {
	text-align: center;
}

.weatherStatus {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	height: 30%;
}

.weatherStatus::after {
	content: '';
	position: absolute;
	inset: 0;

	background: no-repeat center url('/assets/Cloud-background.png');
	filter: opacity(10%);
}
