.wrapper {
	display: grid;
	gap: 2.5rem;
}

@media screen and (min-width: 1024px) {
	.wrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 200px 150px;
	}
}

.card {
	background-color: var(--color-blue);
	padding: 1.75rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	margin-top: 0;
	margin-bottom: 0;

	font-weight: 500;
}

.text {
	font-size: 2.5rem;
	font-weight: 500;

	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
	.text {
		font-size: 3vmax;
	}
}

.value {
	font-size: 3rem;
	font-weight: 700;
	margin-right: 5px;
}

@media screen and (min-width: 1024px) {
	.value {
		font-size: 5vmax;
	}
}

.progress {
	margin-top: 1rem;
	width: 75%;
	height: 7px;
}
