.container {
	background-color: var(--color-dark-blue);
	color: var(--color-white);

	padding: 2.5rem;
}

.buttons {
	display: flex;
	flex-direction: row-reverse;
	gap: 0.75rem;
}

@media screen and (min-width: 1280px) {
	.wrapper {
		padding: 0 5rem;
	}
}

/* extra */

.credits {
	font-weight: 600;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

.credits a {
	font-weight: 700;
	color: var(--color-white);
}
